.authors-container {
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #DDE0F2;
}

.authors-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page-title {
  font-size: 2rem;
  color: black;
  margin: 0;
}

.add-author-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.add-author-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.author-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
}

.author-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.author-name {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.book-image {
  width: 90%;
  height: 35vh;
  object-fit: cover;
  border-radius: 5px;
}

.book-title {
  font-size: 1rem;
  color: black;
  margin-top: 10px;
}

.books-title {
  font-weight: bold;
  font-size: 0.9rem;
  color: #60a5ec;
  margin-top: 10px;
}
.no-books-message,
.no-authors-message {
  color: #bbb;
  font-size: 1rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 5px;
}

.edit-button {
  background-color: #2196f3;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
